@import "./themes/dark.scss";
@import "./themes/normals.scss";
@import "./reset.scss";
@import "./variables/globals.scss";
@import "./themes/orange.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app,
.app_modal,
.app_drawer {
    font: var(--font-m);
    color: var(--primary-color);
}
.app {
    background: var(--bg-color);

    min-height: 100vh;
}
.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 8px;
}
*::-webkit-scrollbar-track {
    background-color: var(--card-bg);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}
